.login__bg {
  background-image: url(https://images.unsplash.com/photo-1577563908411-5077b6dc7624?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1740&q=80);
  height: 92vh;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  overflow-x: hidden;
}
.password {
  /* box-shadow: 2px 2px 100px 1px rgba(240, 248, 255, 0.274); */
  background: transparent;
  @apply border-b-2 border-b-slate-400 bg-transparent
    text-slate-900 text-xl py-2 px-2;
}
.email {
  /* box-shadow: 2px 2px 100px 1px rgba(240, 248, 255, 0.176); */
  @apply border-b-2 border-b-slate-400 w-full  bg-transparent text-xl py-2 px-2;
}
.loginContainer {
  filter: drop-shadow(0px 0px 3px white);

  @apply w-3/4 rounded-lg flex
    items-center justify-center border-2 border-slate-950 bg-[#101010]
    text-slate-50;
}
